.about-section-2 {

	.wrapper {
		position: relative;
		background-color: #f6f8f9;
		padding-bottom:50px;
	}

	.map {
		height: 550px;
		background-color: #ccc;
	}

	.map-note {
		@include position(absolute, false, 0, 0);
		@include flex(flex-start, center, column);
		@include block-size(35%, 60%);
		background-color: rgba(0, 146, 255, 1);
		color: #fff;
		padding: 5%;
		z-index:2;

		h4 {
			@include font-size(33px);
			font-family: $open-sans, sans-serif;
			padding-bottom: 50px;
		}

		p {
			@include font-size(17px);
		}
	}
}

@include media-breakpoint-down(sm) {
	.about-section-2 {

		.wrapper {
			padding-bottom:0px;
		}

		.map {
			height:300px;
		}

		.map-note {
			position:static;
			@include block-size(100%, 250px);
			padding: 25px;
			z-index:2;

			h4 {
				@include font-size(33px);
				padding-bottom: 50px;
			}

			p {
				@include font-size(17px);
			}
		}
	}
}