.about-section-7 {

	.grecaptcha-badge {
		display: none;
	}


	@extend .wrapper;

	.contact-error-caption {
		display: block;
		@include font-size(12px);
		color: #d02c21;
		width:90%;
		height: 12px;
		margin: auto;
	}

	textarea {
		& + .contact-error-caption {
			width: 100%;
		}
	}

	.form {
		margin: 0 auto 100px;
		padding: 20px 20px 50px; 
		box-shadow: 0 0 60px rgba(0,0,0,0.1);
		width: 50%;

		.section-title {
			margin-bottom: 40px;
			margin-top: 30px;
			width:100%;
		}

		.section-form-row {
			@include flex();
			padding-top:30px;
		}

		.section-form-row:nth-child(1) {
			justify-content: flex-start;
		}
		
		.section-form-row:nth-child(4) {
			justify-content: flex-start;
			width:100%;
			
			.form-column {
				label {
			 		width:100%;
				}
				width:96%;
				margin:auto;
			}
		}

		.form-column {
			width:50%;
		}
		
		label {
			@include font-size(15px);
			line-height: 26px;
			display:block;
			margin:auto;
			width:90%;
			padding-bottom: 5px;
		}

		.label-required:after {
			content: "*";
		}

		input {
			display:block;
			margin:auto;
			width:90%;
			height: 60px;
		}

		textarea {
			display:block;
			margin:auto;
			width:100%;
			height: 200px;
			resize:none;
		}

		.section-form-row:nth-child(5) {
			justify-content: flex-end;
			input[type=submit] {
				@include button-clear();
				@extend .blue-btn;
				width: 150px;
				background-color: rgba(0, 146, 255, 1);
				color:#fff;
				margin-right: 2%;
			}
		}
	}


}

@include media-breakpoint-down(sm) {
	.about-section-7 {

		.form {
			margin:30px auto;
			width:95%;

			.section-form-row {
				flex-direction:column;
				padding-top:0;
			}

			.section-form-row:nth-child(4) {
				.form-column label {
					width: 94%;
				}

				textarea {
					width: 94%;
					border: 1px solid #ccc;
				}
			}

			.section-form-row:nth-child(5) {
				input[type=submit] {
					width: 91%;
					margin-right: 0;
					margin-top:10px;
				}
			}

			.form-column {
				width: 100%;

				label {
					padding-top:5px;
				}
				
				input {
					height: 40px;
					border: 1px solid #ccc;
				}
			}
		}
	}
}