.header-news,
.use-case-header {
	.body {
		position:relative;
		overflow:hidden;

		&:after {
			background-color: rgba(34, 42, 74, .7);
		}

		h1 {
			margin: 70px 0 50px;
		}

		.news-title {
			@include font-size(30px);
			line-height: 40px;
			font-weight:normal;
			z-index: 4;
			margin-bottom:80px;
			text-align: center;

			span {
				display: block;
			}
		}

		.news-date {
			@include font-size(15px);
			font-weight:600;
			font-family: $open-sans, sans-serif;
		}

		img {
			width:100%;
			height:auto;
		}

		img.logistic-header-bg-img {
			@include position(absolute, false, 0, 0, 0);
		}

		img.insurance-header-bg-img {
			@include position(absolute, false, 0, 0, 0);
		}

		img.finance-header-bg-img {
			@include position(absolute, false, 0, -50%, 0);
		}

		img.iot-header-bg-img {
			@include position(absolute, false, 0, -50%, 0);
			width:100%;
		}
	}
}

.header-news {
	.body {
		background: url('media/content/business_writing.jpg') center 30% no-repeat;
		@include background-size(cover);
	}
}

.use-case-header {
	.body {
		h1 {
			margin: 155px 0 50px;
		}
	}
}

@include media-breakpoint-between(sm, lg) {
	.header-news {
		width: 1200px;
	}
}

@include media-breakpoint-down(sm) {
	.header-news,
	.use-case-header {
		width: 100%;
		.body {
			width:100%;
			margin-top: 90px;

			h1 {
	        	@include position(absolute, 70px, 0, false, 0);
	        	@include font-size(29px);
	        	overflow:hidden;
	        	width: 100%;
	        	height:auto;
	        	padding: 0 25px;
	        	margin-bottom: 0;
	        	margin-top:0;

	        	span {
	            	@include font-size(34px);
	            	line-height: 40px;
	            	font-weight:800;
	            	width:60%;
	            	margin-bottom: 0;

	            	&:nth-child(3) {
	                	color:$blue;
	           		}
	        	}	
	    	}

	    	img {
				@include position(absolute, 0, false, false, 0);
					width:auto;
					min-width: 100%;
					height:auto;
					min-height: 100%;
				}

	    	.news-title {
    			@include position(absolute, 173px, 0, false, 0);
				@include font-size(20px);
        		line-height: 32px;
        		padding: 0 25px;
        		margin-bottom:0;
        		text-align: center;

				span {
					display: inline;
				}
    		}

    		.news-date {
    			padding: 0 25px;
    			@include position(absolute, 130px, 0, false, 0);
    			z-index:3;
				text-align: center;
    		}
		}
	}

	.use-case-header {
		.body {
			.news-title {
				@include position(absolute, 135px, 0, false, 0);
				@include font-size(20px);
				span {
					display: inline;
				}
			}
		}
	}
}