.service-section-5 {
	padding-top:60px;
	@extend .wrapper;

	.section-title {
		line-height: 44px;
		span {
			display: block;
		}
		text-transform: capitalize;
	}
	
	.section-body {
		h3 {
			@include font-size(22px);
			line-height: 44px;
			margin: 25px 0;
			text-align: center;
			color: #0092ff;
		}
	}

	.part-1 {
		height:650px;
		position: relative;
		overflow:hidden;
		z-index: 1;
		margin-bottom: 30px;

	
		.content {
			@include position(absolute, 0, 0, 0, 0);
			@include flex(flex-end);
			z-index:4;
			padding-bottom: 50px;

			.image {
				width: 45%;
				img {
					width: 100%;
				}
			}

			.text {
				padding-left: 30px;
				width:60%;
				color: #fff;

				h4 {
					@include font-size(20px);
					line-height:44px;
					margin-bottom: 15px;
					color:#0092ff;
				}

				h5 {
					@include font-size(16px);
					line-height: 30px;
					margin-bottom: 15px;
				}

				p {
					@include font-size(14px);
					line-height: 26px;
					padding-right: 25px;
				}
			}
		}


		.bg-1 {
			display: block;
			width: 100%;
			@include position(absolute, -42%, 0, 0, -57%);
			background-color: rgba(255, 255, 255, 0.2);
			@include transform(rotate(-38deg));
			z-index:3;
		}

		.bg-2 {
			display: block;
			@include position(absolute, 0, 0, false, 17%);
			width: 120%;
			height: 125%;
			border-bottom: 550px solid #20294c;
			border-left: 70px solid transparent;
			@include transform(rotate(15deg));
			z-index:2;
		}

		.bg-3 {
			display: block;
			@include position(absolute, false, false, 0, 0);
			border-bottom: 45px solid #fff;
			border-right: 1200px solid transparent;
			z-index:3;
		}
	}	

	.part-2 {
		height:550px;
		position: relative;
		overflow:hidden;
		z-index: 1;
		margin-bottom: 30px;

		.bg-1 {
			@include position(absolute, 43%, 0, 0, -42%);
			@include transform(rotate(-13deg));
			width:100%;
			height:100%;
			background-color: #0092FF;
			z-index:2;
		}

		.bg-2 {
			@include position(absolute, 7%, false, false, 53%);
			@include transform(rotate(-6deg));
			z-index:3;
			border-top: 500px solid #0086F4; 
			border-right: 300px solid transparent;	
		}

		.bg-3 {
			@include position(absolute, 51%, false, false, 60.2%);
			@include transform(rotate(25deg));
			width:100%;
			height:100%;
			background-color: #fff;
			z-index:3;	
		}

		.bg-4 {
			@include position(absolute, -90%);
			@include transform(rotate(3deg));
			width:100%;
			height:100%;
			background-color: #fff;
			z-index:4;	
		}

		.content {
			@include position(absolute, 0, 0, 0, 0);
			@include flex(flex-end);
			z-index: 5;

			.image {
				width:46%;
				margin-right: 0;
				margin-bottom: 90px;
				img {
					width: 100%;
				}
			}

			.text {
				width: 60%;
				padding: 30px 80px 30px 30px;

				h4 {
					@include font-size(20px);
					line-height:44px;
					margin-bottom: 5px;
					color:#20294c
				}

				h5 {
					@include font-size(16px);
					line-height: 30px;
					margin-bottom: 15px;
					color: #fff;
				}

				p {
					@include font-size(14px);
					line-height: 26px;
					color:#fff;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.service-section-5 {
		padding-top:0;

		.section-body {
			h3 {
				line-height: 27px;
				margin: 15px 25px 30px;
			}
		}

		.part-1 {
			height:auto;
			margin-bottom: 0;

			.bg-1, .bg-2, .bg-3 {
				display:none;
			}

			.content {
				display:block;
				position: relative;
				z-index:1;
				padding-bottom:0;

				.image {
					position:relative;
					width: 100%;
					z-index:3
				}

				.text {
					
					width:100%;
					background-color: #20294c;
					padding: 30px 25px 30px;
					height:auto;
					z-index:1;

					h4 {
						text-align: center;
					}

					h5 {
						@include font-size(18px);
						text-align: center;
					}

					p {
						@include font-size(15px);
						padding-right:0;
						font-weight: 300;
					}

					&:after {
						content:"";
						z-index:2;
						@include position(absolute, 0, 95%, 0, -95%);
						background-color: rgba(255,255,255, .2);
						@include transform(rotate(4deg));
					}
				}

			}
		}

		.part-2 {
			height:auto;
			margin-bottom: 0;

			.bg-1, .bg-2, .bg-3, .bg-4 {
				display:none;
			}

			.content {
				@include flex(center, center, column-reverse);
				position:relative;

				.image {
					width:100%;
					margin-right:0;
					margin-bottom: 0;
					z-index:3
				}

				.text {
					width:100%;
					padding: 30px 25px 30px;
					background-color: #0092ff;
					z-index:1;
					
					h4 {
						text-align: center;
					}

					h5 {
						@include font-size(18px);
						text-align: center;

						div {
							display:inline;
						}
					}

					p {
						@include font-size(15px);
						padding-right:0;
						font-weight: 300;
					}

					&:after {
						content:"";
						z-index:2;
						@include position(absolute, 0, -95%, 0, 95%);
						background-color: rgba( 0, 0, 0, .1);
						@include transform(rotate(-4deg));
					}
				}
			}
		}
	}
}