.h-section-1 {
	@extend .section-margin;
	
	.section-body
	{
		width:100%;
		overflow:hidden;

		.dots {
			margin-bottom: 40px;

			@include flex();

			.bx-pager {
				
				@include flex();

				.bx-pager-item {
					@include button-clear();

					a {
						display:block;
						padding: 10px 30px;
						border-bottom: 2px solid #ccc;	
						color: #0f192f;

						&:before {
							content: '0';
						}

						&:after {
							content: ".";
						}
					}

					a.active {
						color: $blue;
						border-color: $blue;	
					}
				}

				&:hover {
					a {
						color: #0f192f;
						&.active {
							color:#0f192f;
							border-color: #ccc;

						}

						&:hover {
							color: $blue;
							border-color: $blue;
							text-decoration: none;
						}	
					}	
				}
			}
		}

		$bx-wrapper-width : 60%;

		.bx-wrapper {

			width:$bx-wrapper-width;
			margin:auto;

			.home-slider {
				
				& > div {
					padding:0 5px;
					position:relative;
					height: 600px;
					overflow:hidden;

					img {
						height:auto;
						width: auto;
					}

					.slider-item-overlay {
						background-color: rgba(0,0,0, .5);
						@include position(absolute, 0, 0, 0, 5px);
						@include transition(all 1s ease);
						height:inherit;

						.slide-number {
							@include position(absolute, false, false, 30px, 35px);
							color:rgba(255, 255, 255, 1);
							@include font-size(22px);
						}

						.content-1 {
							@include flex(center, center, column);
							height:inherit;
							color: #fff;

							h4 {
								@include font-size(24px);
								font-weight: 400;
								line-height: 40px;
							}

							h5 {
								@include font-size(27px);
								position:relative;
								font-weight: 400;
								line-height: 60px;

								&:after {
									content: "";
									@include position(absolute, 75px, 30%, false, 30%);
									height: 1px;
									width: 40%;
									background-color: #fff;
								}
							}

							p {
								padding: 0 10%;
								margin-top:40px;

								span {
									@include font-size(22px);
									font-weight: 300;
									text-align: center;
									display:block;
								}
							}

							a {
								@extend .transparent-btn;
							
							}
						}

						.content-2 {
							@include flex(center, center, column);
							position:relative;
							color:#fff;
							margin: 15% 30% 10% 10%;
							padding: 50px;
							background-color: rgba(0, 146, 255, 1);
							text-decoration:none;

							h3 {
								position: relative;
								text-align: center;
								font-weight: 400;
								margin-bottom: 50px;

								&:after {
									content: "";
									@include position(absolute, false, 30%, -25px, 30%);
									height: 1px;
									width: 40%;
									background-color: #fff;
								}
							}

							p {
								text-align: center;
							}
						}

						.content-3 {
							@include flex();
							height:150px;
							width:65%;
							background-color: #392E7F;
							color:#fff;
							margin: 211px auto 0;
							text-decoration:none;


							.first, .second {
								width:50%;
								text-align: center;
								padding: 40px;

								&:nth-child(1) {
									position:relative;
									
									&:after {
										content: "";
										background-color: #fff;
										@include position(absolute, 14px, -4px);
										height: 100px;
										width: 1px;
									}
								}
							}
						}
					}


					.home-slider-prev,
					.home-slider-next {
						
						@include block-size(10%, 50%);

						background-color: rgba(255, 255, 255, .2);
						display:none;
						cursor:pointer;

						img{
							@include block-size(31px, auto);
						}
						
						&:hover {
							background-color: rgba(255, 255, 255, .5);
							@include transition(background-color .3s ease);
						}
					}

					.home-slider-prev {
						@include position(absolute, 0, 0, 50%, false);
					}

					.home-slider-next {
						@include position(absolute, 50%, 0, 0, false);	
					}

					.slider-progres-bar {
						@include position(absolute, false, 0, 0, 5px);
						background-color: $blue;
						@include block-size(0px, 4px);
					}
				}

				& > div[aria-hidden="false"] {
						
					.slider-item-overlay {
						background-color: rgba(0,0,0, .2);
					}

					.slider-progres-bar {
						width:100%;
						@include transition(width 5s ease);
					}


					.home-slider-prev,
					.home-slider-next {
						@include flex();
					}
				}	
			}
		}

		.bx-viewport {
			overflow: visible !important;
		}

		.home-representative-message-section {

			position:relative;
			z-index:0;
			height:500px;
			overflow: hidden;
			margin-top: 10px;
			background: url(media/content/city-bg.jpg) center bottom;
			@include background-size(cover);

			.representative-message-section-bg {

				@include position(absolute, 0px, false, false, 0px);
				@include block-size(100%, 100%);
				background-color:rgba(34, 42, 74, 0.7);
			    z-index: 10;

			    &>div{
			    	@include position(absolute, false, 0px);
				    height: 100%;
			    }
			}

			.representative-message-bg-layer {
				width: 0px;
			    bottom: 0px;
			    z-index: 5;
			    overflow: hidden;
			    @include transition(1.2s cubic-bezier(0.66, 0.01, 0.445, 0.96) 0.4s);

			    div {
			    	@include position(absolute, false, 0px);
			    	@include block-size(100%, 100%);
					@include background-size(cover);
			    }
			}

			.layer-1 {
				div {
					background: url(media/content/l-1.png) center bottom;
				}
			}

			.layer-2 {
				div {
					background: url(media/content/l-2.png) center bottom;
				}
			}
			.layer-3 {
				div {
					background: url(media/content/l-3.png) center bottom;
				}
			}

			&.view .representative-message-bg-layer {
				width:100%;
			}

			.representative-message-man-layer {
				z-index: 20;
				height:inherit;

				@include flex(flex-start, flex-start, column);
				@extend .wrapper;

				img {
					@include position(absolute, false, 0, 0);
				}

				.representative-message-text {
				    position: relative;
				    width: 100%;
				    margin: auto;
				    z-index: 20;
					color:#fff;

				    @include opacity(0);
				    @include transition(0.8s 1.2s -webkit-transform, 0.8s 1.2s opacity);
				    @include transform(translateX(-3%));

					h4, p, ul {
						padding:0;
						margin:0;
					}
					
					div {

						padding-top:10px;
						width:60%;

						@include flex(center, space-between);

						ul {
							list-style:none;
							padding-left:20px;
						}
						
						li {
							position:relative;
							a {
								color:#fff;
								text-decoration: none;
							}

							a:hover {
								text-decoration: underline;
							}
						}

						.color-blue {
							color:$blue;
						}
					}

					h4, p {
						line-height: 65px;

						@include font-size(32px);
					}
				}
			}

			&.view .representative-message-text {
				transform: none;
				@include opacity(1);
			}
		}
	}
}

@include media-breakpoint-between(sm, lg) {
	.h-section-1 {
		.section-body {
			width: 1200px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.h-section-1 {
		.section-body {
			width: 100%;

			.bx-wrapper {
				width: 100%;
				.home-slider-prev,
				.home-slider-next {
					@include opacity(0);
					width:0;
					height:0;
					overflow:hidden;
				}

				.home-slider {
					
					& > div {

						padding: 0; 

						img {
							height:100%;
							width: auto;
						}

						.slider-progres-bar {
							left:0;
						}

						.slider-item-overlay {
							right: 0;
							left:0;
							@include flex();

							.content-1 {
								h4 {
									@include font-size(15px);
									font-weight: 400;
									line-height: 26px;
								}

								h5 {
									@include font-size(24px);
									position:relative;
									font-weight: 400;
									line-height: 30px;
									text-align: center;
									padding: 0 5px;

									&:after {
										content: "";
										@include position(absolute, 140%, 30%, false, 30%);
										height: 1px;
										width: 40%;
										background-color: #fff;
									}
								}

								p {
									text-align: center;
									padding: 0 30px;
									margin-top:30px;
									span {
										@include font-size(14px);
										display:inline;
										font-weight:400;
									}
								}
							}

							.content-2 {
								
								margin-right:10%;
								padding: 20px;

								h3 {
									@include font-size(19px);
								}

								p {
									@include font-size(14px);
								}
							}

							.content-3 {
								height: auto;
								width: 85%;
								padding: 20px;
								margin-top:0;


								.first {
									@include font-size(13px);
									padding: 10px;
									&:nth-child(1):after {
										top:0;
										bottom: 0;
										height: 100%;
									}

									div{
										display:inline;
									}
								}

								.second {
									@include font-size(13px);
									padding: 10px;
								}
							}
						}
					}
				}
			}
			




			.home-representative-message-section {

				height: 650px;
				margin-bottom:0;

				.representative-message-section-bg {
					height:300px;
				}

				.representative-message-man-layer  {

					justify-content: center;
					
					img { 
						height:320px;
						bottom: 300px;
						right:-10%;
					}

					.representative-message-text {
						@include flex(flex-start, center, column);
						top:150px;
						left:0;
						right:0;
						bottom:0;
						height:400px;
						width:100%;
						margin:0;
						padding: 0 25px; 
						color:#0f192f;
						background-color: #fff;
						transform: none;
						@include opacity(1);
						
						h4 {
							@include font-size(30px);
							line-height:40px;
						}

						p {
							@include font-size(30px);
							line-height:40px;
						}

						div {
							@include font-size(20px);
							padding-top:15px;
							width:100%;
						

							@include flex(center, space-between);

							ul {
								list-style:none;
								padding-left:25px;

								&:nth-child(2) {
									display:none;
								}
							}
							
							li {
								
								position:relative;
								a {
									padding-top:20px;
									text-decoration:none;
									color:#0f192f;
								}
							}

							.color-blue {
								color:$blue;
							}
						}
					}
				}	
			}
		}
	}
}